<div class="row">

      <div class="col-lg-4">
        <div class="box text-center">
          <span>{{ reason1.number }}</span>
          <h4>{{ reason1.name }}</h4>
          <p>{{ reason1.text }}</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box text-center">
          <span>{{ reason2.number }}</span>
          <h4>{{ reason2.name }}</h4>
          <p>{{ reason2.text }}</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box text-center">
          <span>{{ reason3.number }}</span>
          <h4>{{ reason3.name }}</h4>
          <p>{{ reason3.text }}</p>
        </div>
      </div>
</div>

<!-- End Whu Us Section -->
