<br>
<br>
<main id="main">
<!-- ======= My kitchen Section ======= -->
<section id="specials" class="specials">
  <div class="container">

    <div class="section-title">
      <h2>Check own <span>Kitchen</span></h2>
      <p>delight family with various delicious dishes</p>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Hot dish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-2">Salads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-3">Soups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-4">Desserts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-5">Breakfast</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Rice with gravy</h3>
                <p class="font-italic">Pour the washed rice with water, bring to a boil over high heat, salt, add turmeric, cumin and a few peas of allspice. Reduce the fire to a minimum and cook until the water is completely absorbed.</p>
                <p>Grind chicken meat in a blender or meat grinder. Finely chop the onion. Grate carrots on a coarse grater. Fry the onions until lightly golden, add the carrots and fry until soft. Add minced meat, season with salt and stirring vigorously to break minced meat lumps, fry over high heat for five minutes. Add sour cream, paprika and thyme, simmer covered for 5-7 minutes. Put the finished rice on a plate, pour with hot gravy.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cooking methods</h3>
                <p class="font-italic">Cooking method 2</p>
                <p>Ingredients 2</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cooking methods</h3>
                <p class="font-italic">Cooking method 3</p>
                <p>Ingredients 3</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cooking methods</h3>
                <p class="font-italic">Cooking method 4</p>
                <p>Ingredients 4</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cooking methods</h3>
                <p class="font-italic">Cooking method 5</p>
                <p>Ingredients 5</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Mykitchen Section -->
</main>
