<br>
<br>
<main id="main">
  <!-- ======= Login Section ======= -->
  <section id="login" class="login">
    <div class="container">

      <div class="form-check form-check-inline">
        <input (click)="toggle()" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Sign up</label>
      </div>
      <br>
      <!-- ======= Structural directive ======= -->
      <sign-up *ngIf="displayChild" [message]="'Error'"></sign-up>
      <br>
      <div class="section-title">
        <h2><span>Sign</span> In</h2>
      </div>
      <div class="container mt-3">
        <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">

        <div class="form-group">
          <input type="email" class="form-control" name="email" ngModel required email id="email" placeholder="Email" data-rule="email" data-msg="Please enter valid email" />
          <div class="validate"></div>
        </div>
          
        <div class="form-group">
          <input type="password" class="form-control" name="password" ngModel required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" id="subject" placeholder="Password" data-rule="password" data-msg="Please enter at least 6 chars" />
          <div class="validate"></div>
        </div>
        </form>
        <div class="text-center"><button (click)="testLog()" type="submit" [disabled]="myForm.invalid" >Sign in</button></div>
      </div>

    </div>
  </section>
  <!-- End Login Section -->
</main>
