<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent" style="background-color: #35322d;">
  <div class="container text-right">
    <i class="icofont-phone"></i> +77475390307
    <i class="icofont-envelope"></i> Support: Mon-Sat: 11:00 AM - 18.00 PM
    <i class="icofont-clock-time icofont-rotate-180"></i> Date: {{toDate | date:'dd.MM.yyyy hh:mm:ss'}}
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent" style="background-color: #35322d;">
  <div class="container d-flex align-items-center">
    <!-- ======= Attribute Directive ======= -->
    <div class="logo mr-auto">
      <h1 [ngClass]="{ clr: true }"><a href="index.html"><span>{{title | uppercase}}</span></a></h1>
    </div>

<!-- nav -->
<nav class="nav-menu d-none d-lg-block">
  <ul>
    <li><a class="active" routerLink="/">Home</a></li>
    <li><a routerLink="/recipes">Recipes</a></li>
    <li><a routerLink="/mykitchen">My kitchen</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav>

  </div>
</header>
<!-- End Header -->
<br>
<!-- main content container -->

<router-outlet></router-outlet>
