<br>
<br>
<main id="main">
  <!-- ======= Login Section ======= -->
  <section id="login" class="login">
    <div class="container">
      <div class="section-title">
        <h2><span>Sign</span> In</h2>
      </div>
      <div class="container mt-3">
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter valid email" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="subject" placeholder="Password" data-rule="password" data-msg="Please enter at least 6 chars" />
          <div class="validate"></div>
        </div>
        <div class="text-center"><button type="submit" >Sign in</button></div>
      </div>

    </div>
  </section>
  <!-- End Login Section -->
</main>
